@media only screen and (min-width: 1021px) {
    aside{
       
        h2{
            text-align: center;
        }
    }
   #howto-btn{
       width:50%;
       margin:auto;
   }
   article{
       .cards{
           flex-direction: row;
           flex-wrap: wrap;
           justify-content: center;
           gap:1rem;
           
       }
       .card{
           width:45%;
           margin:0;

       }
       
        h2{
            text-align: center;
            }
       
   }

   #article__rounded{
       padding:2rem;
       aside{
        width:50%;
      }
    .aside-wrapper{
        
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
 }

footer{
    text-align: center;
    img{
        
        margin:auto;
    }
}

.btn--wrapper{
    display: block;
    height: 5rem;
    width:100%;
    .btn{
    color:white;
      padding-left:4rem;
      padding-right:4rem;
      
    }
  }

}

  
.card:hover{
    transform:scale(1.05);
}