@import "../lib/mixins.scss";
@import "../lib/var.scss";
@import "../lib/minireset.scss";
@import "../components/footer.scss";
@import "../components/cards.scss";
@import "../components/titles.scss";
@import "../components/loader.scss";
@import "../lib/animations.scss";


*, *:before, *:after {
    box-sizing: border-box;
  }

#homepage--header{
    visibility: hidden;
    
  }

html{
  max-width: 768px;  
  margin:auto;
}

body{
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  
}

#bg {

  overflow: hidden;
img{
 height: 250px;
 width: 100%;
 object-fit: cover;


}
}
header{
  display:flex;
  height:4rem;
  align-items: center;
  

    a i{
      font-size: x-large;   
      padding-left:1rem;      
    }
  
  img{
    height:60%;
    margin:auto;
    padding-right:1rem;
  }
}

nav{
  height:20%;
  overflow: hidden;
   div:nth-child(1){
    display:flex;
    justify-content: center;
    background: rgb(234,234,234);
    background: linear-gradient(0deg, rgba(234,234,234,1) 85%, rgb(201, 196, 196) 100%);
    height: 3rem;
    gap:1rem;
      i,span{
        margin-top:auto;
        margin-bottom: auto;      
    }
  }

   div:nth-child(2){
    background-color: $color-lightgrey;
    display: flex;
    flex-direction: column;
    gap:1rem;
    padding: 3rem;
    text-align: center
    
  }

  .btn{
    @include button;
    box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.67);
    
  }
  
}

main{
  padding-top:2rem;
  
}
#main--menu{
  padding:0;
  margin-top:-3rem;
  z-index:3;
  position:relative;
}

#howto{
  display: flex;
  flex-direction: column;
  gap:2rem;
  padding-left:1rem;
  padding-bottom:3rem;
}
#howto-btn{
  display: flex;
  flex-direction: column;
  gap:1.5rem;                             
}

.howto-btn_frame{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:auto;
  background-color: $color-lightgrey;
  font-weight: 1000;
  height:4rem;
  width:90%;
  border-radius: 1rem;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
  position: relative;
    span:nth-child(1){
      color:white;
      font-weight: 500;
      height: 24px;
      width:24px;
      background:$color-primary;
      border-radius: 50%;
      position:absolute;
      left:0;
      transform: translateX(-12px);
      padding: 3px;
      text-align: center;
      
    }
    i{
      color:$color-anothergrey;
      transform: translateX(2rem);
      position: absolute;
      left:0;
      height: 1rem;
      width: 1rem;
      text-align: center;
    }
    span{
      transform: translateX(4rem);
      position: absolute;
      left:0;
  }
  
  &:hover{
    background-color:lighten($color-primary, 30);
    i{
      color:$color-primary;
      
    }
  }
}

article{
  padding-top:2rem;padding-bottom:3rem;
  background-color: $color-lightgrey;
  
  h2{
    margin-bottom: 1rem;
    padding-left:1rem;
    font-weight: 800;
  }
}

#article__rounded{
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  
}

.article__rounded--title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  h1{
    margin-left:1rem;
    white-space: nowrap;
  }
  i{
    padding-right:1rem;
    font-size: clamp(20px, 5vw, 70px);    
  }
  
}

.card--wrap__active{
  // COCHE
  // COCHE
  // COCHE
  
  height: 100%;
  width:0px;
  background-color: $color-tertiary;
  display:flex;
  align-items: center;
  justify-content: center;
  color:white;
  position:absolute;
  right:0;
  border-top-right-radius: 1rem ;
  border-bottom-right-radius: 1rem ;
  font-size: 1.5rem;
  transition: width ease 700ms;
  i{
    opacity:1;
    
  }
}


aside h3{
  font-weight: 800;
  border-bottom: $color-tertiary solid 3px;
  height: 25px;
  width:40px;
  transform: translateX(1rem);
  margin-top: 1rem;
  margin-bottom: 1rem;
  
}

.card--wrap{
  width: 95%;
  height:4rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  background: white;
  animation: cards-load ease-in 1s;
  padding-left:0.5rem;
  position: relative;
  overflow: hidden;
  p  {
    text-overflow:ellipsis;
    overflow:hidden;
    white-space: nowrap;
  }

    p:first-child{
      font-weight: 1000;
      font-size: normal;
    }
    p:last-child{
      font-size:small;
      
    }
   .card--wrap__content{
     position: relative;
     width: 90%; 
     height: 4rem;
     display: flex;
     flex-direction: column;
     justify-content: center;
     transition: width ease 500ms;
     
    span{
      font-weight: 1000;
      position: absolute;
      bottom:10%;
      right:-5%;
      
    }
   } 
  &:hover{
  
    .card--wrap__content{
      width:calc(100% - 5.5rem);
      
    p  {
      text-overflow:ellipsis;
      overflow:hidden;
      white-space: nowrap;
      width: 90%;
    }
    
    }
    .card--wrap__active{
      width:4rem;
      opacity:1;
      i{
        
        animation-name: rotate-icon;
        animation-duration: 700ms;
        animation-fill-mode:forwards;
      }
    }
    
  }
}

