@charset "UTF-8";
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

img, video {
  height: auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

a:visited {
  text-decoration: none;
  color: #000;
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 2rem;
}
footer img {
  width: 6rem;
  padding-bottom: 1rem;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
footer ul a {
  color: white;
}
footer ul li:nth-child(-n+2) {
  font-weight: bold;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.card {
  margin: auto;
  width: 90%;
  height: 15rem;
  background-color: #FFF;
  border-radius: 1rem;
  position: relative;
}
.card img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 70%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
.card ul {
  padding: 1rem;
}
.card li:nth-child(1) {
  font-weight: bold;
}

.cardNew {
  background-color: #99E2D0;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate3d(-12px, 12px, 0);
  font-weight: bolder;
  font-size: clamp(16px, 2.5vw, 1rem);
  color: #278870;
  border-radius: 0.2rem;
}

.card--wrap {
  width: 95%;
  height: 4rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  background: white;
  -webkit-animation: cards-load ease-in 1s;
          animation: cards-load ease-in 1s;
  padding-left: 0.5rem;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 18px -11px rgba(0, 0, 0, 0.76);
}
.card--wrap p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.card--wrap p:first-child {
  font-weight: 900;
}
.card--wrap p:nth-child(2) {
  font-size: 14px;
}
.card--wrap .card--wrap__content {
  position: relative;
  width: 90%;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: width ease 500ms;
}
.card--wrap .card--wrap__content span {
  font-weight: 1000;
  position: absolute;
  bottom: 10%;
  right: -5%;
  font-size: clamp(13px, 4vw, 1rem);
}
.card--wrap:hover .card--wrap__content {
  width: calc(100% - 5.5rem);
}
.card--wrap:hover .card--wrap__content p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 90%;
}
.card--wrap:hover .card--wrap__active {
  width: 4rem;
  opacity: 1;
}
.card--wrap:hover .card--wrap__active i {
  -webkit-animation-name: rotate-icon;
          animation-name: rotate-icon;
  -webkit-animation-duration: 700ms;
          animation-duration: 700ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.card--wrap__active {
  height: 100%;
  width: 0px;
  background-color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  right: 0;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  font-size: 1.5rem;
  transition: width ease 700ms;
}
.card--wrap__active i {
  opacity: 1;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: clamp(22px, 7vw, 50px);
}

h2 {
  font-weight: bolder;
  font-size: clamp(30px, 5vw, 50px);
}

h6 {
  font-family: "Shrikhand", cursive;
}

aside h3 {
  font-weight: 800;
  border-bottom: #99E2D0 solid 3px;
  height: 25px;
  width: 40px;
  transform: translateX(1rem);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#loader--wrap #loader {
  z-index: 1001;
  position: absolute;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  top: 50%;
}
#loader--wrap #loader img {
  -webkit-animation: 500ms top-load ease;
          animation: 500ms top-load ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}
#loader--wrap #loader #loader__icon--wrap {
  position: absolute;
  left: 30%;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: white;
}
#loader--wrap .loader-aside {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  z-index: 1000;
}
#loader--wrap .aside-left {
  left: 0;
  -webkit-animation: 500ms left-load ease;
          animation: 500ms left-load ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}
#loader--wrap .aside-right {
  right: 0;
  -webkit-animation: 500ms right-load ease;
          animation: 500ms right-load ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

.loader__icon {
  opacity: 0;
  -webkit-animation: 800ms animated-dots ease;
          animation: 800ms animated-dots ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}

@-webkit-keyframes animated-dots {
  0% {
    opacity: 1;
    color: #9356DC;
  }
  50% {
    color: #FF79DA;
  }
  100% {
    color: #99E2D0;
  }
}

@keyframes animated-dots {
  0% {
    opacity: 1;
    color: #9356DC;
  }
  50% {
    color: #FF79DA;
  }
  100% {
    color: #99E2D0;
  }
}
@-webkit-keyframes left-load {
  100% {
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes left-load {
  100% {
    transform: translate3d(0, -100%, 0);
  }
}
@-webkit-keyframes right-load {
  100% {
    transform: translate3d(0, 100%, 0);
    display: none;
  }
}
@keyframes right-load {
  100% {
    transform: translate3d(0, 100%, 0);
    display: none;
  }
}
@-webkit-keyframes top-load {
  100% {
    transform: translate3d(0, -10000%, 0);
  }
}
@keyframes top-load {
  100% {
    transform: translate3d(0, -10000%, 0);
  }
}
.loader__icon:nth-child(1n) {
  -webkit-animation-delay: 50ms;
          animation-delay: 50ms;
}

.loader__icon:nth-child(2n) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.loader__icon:nth-child(3n) {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}

@-webkit-keyframes rotate-icon {
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}

@keyframes rotate-icon {
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}
@-webkit-keyframes cards-load {
  0% {
    transform: translate3d(0, 15px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes cards-load {
  0% {
    transform: translate3d(0, 15px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.card--wrap:nth-child(1n) {
  -webkit-animation-delay: 50ms;
          animation-delay: 50ms;
}

.card--wrap:nth-child(2n) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.card--wrap:nth-child(3n) {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}

.card--wrap:nth-child(4n) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

@media only screen and (min-width: 1025px) {
  aside h2 {
    text-align: center;
  }

  #howto-btn {
    width: 50%;
    margin: auto;
  }

  article .cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
  article .card {
    width: 45%;
    margin: 0;
  }
  article h2 {
    text-align: center;
  }

  #article__rounded {
    padding: 2rem;
  }
  #article__rounded .aside-wrapper {
    gap: 2rem;
    display: flex;
    flex-direction: row;
  }

  footer {
    text-align: center;
  }
  footer img {
    margin: auto;
  }
}
@media (min-width: 768px) and (max-width: 1020px) {
  aside h2 {
    text-align: center;
  }

  #howto-btn {
    width: 50%;
    margin: auto;
  }

  article .cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
  article .card {
    width: 55%;
    margin: 0;
  }
  article h2 {
    text-align: center;
  }

  #article__rounded {
    padding: 2rem;
  }
  #article__rounded .aside-wrapper {
    gap: 1rem;
    display: flex;
    flex-direction: column;
  }

  .card--wrap {
    padding-left: 1rem;
  }

  .card--wrap__content span {
    padding-right: 0.4rem;
  }

  footer {
    text-align: center;
  }
  footer img {
    margin: auto;
  }
}
*, *:before, *:after {
  box-sizing: border-box;
}

#homepage--header {
  visibility: hidden;
}

html {
  max-width: 1200px;
  margin: auto;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

#bg {
  overflow: hidden;
}
#bg img {
  height: 250px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header {
  display: flex;
  height: 4rem;
  align-items: center;
}
header a i {
  font-size: x-large;
  padding-left: 1rem;
}
header img {
  height: 60%;
  margin: auto;
  padding-right: 1rem;
}

nav {
  height: 20%;
  overflow: hidden;
}
nav div:nth-child(1) {
  display: flex;
  justify-content: center;
  background: #eaeaea;
  background: linear-gradient(0deg, #eaeaea 85%, #c9c4c4 100%);
  height: 3rem;
  gap: 1rem;
}
nav div:nth-child(1) i, nav div:nth-child(1) span {
  margin-top: auto;
  margin-bottom: auto;
}
nav div:nth-child(1) i span, nav div:nth-child(1) span span {
  font-weight: 1000;
}
nav div:nth-child(2) {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem;
  text-align: center;
}
nav .btn {
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  border-radius: 2rem;
  color: #fff;
  padding: 1rem;
  max-width: 70vw;
  margin: auto;
  box-shadow: 5px 5px 10px -5px rgba(0, 0, 0, 0.67);
}

main {
  padding-top: 2rem;
}

#main--menu {
  padding: 0;
  margin-top: -3rem;
  z-index: 3;
  position: relative;
}

#howto {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 1rem;
  padding-bottom: 3rem;
}

#howto-btn {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.howto-btn_frame {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #f6f6f6;
  font-weight: 1000;
  height: 4rem;
  width: 90%;
  border-radius: 1rem;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  position: relative;
}
.howto-btn_frame span:nth-child(1) {
  color: white;
  font-weight: 500;
  height: 24px;
  width: 24px;
  background: #9356DC;
  border-radius: 50%;
  position: absolute;
  left: 0;
  transform: translateX(-12px);
  padding: 3px;
  text-align: center;
}
.howto-btn_frame i {
  color: #7e7e7e;
  transform: translateX(2rem);
  position: absolute;
  left: 0;
  height: 1rem;
  width: 1rem;
  text-align: center;
}
.howto-btn_frame span {
  transform: translateX(4rem);
  position: absolute;
  left: 0;
}
.howto-btn_frame:hover {
  background-color: #e4d5f6;
}
.howto-btn_frame:hover i {
  color: #9356DC;
}

article {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f6f6f6;
}
article h2 {
  margin-bottom: 1rem;
  padding-left: 1rem;
  font-weight: 800;
}

#article__rounded {
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  padding-top: 2rem;
}

.article__rounded--title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.article__rounded--title h1 {
  margin-left: 1rem;
  white-space: nowrap;
}
.article__rounded--title .heart::after {
  font-size: clamp(22px, 7vw, 50px);
  position: inherit;
  margin-right: 1rem;
}

.heart::after {
  font-size: 1.5rem;
  position: relative;
  bottom: 20%;
  left: 85%;
  cursor: pointer;
  font-family: "Font Awesome 5 Free";
  font-weight: 500;
  font-style: normal;
  content: "";
}

.heart:hover::after {
  -webkit-animation: heart-fill ease 400ms;
          animation: heart-fill ease 400ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes heart-fill {
  0% {
    color: transparent;
    opacity: 0;
  }
  100% {
    opacity: 1;
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
  }
}
@keyframes heart-fill {
  0% {
    color: transparent;
    opacity: 0;
  }
  100% {
    opacity: 1;
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
  }
}/*# sourceMappingURL=style.css.map */