html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

img, video {
  height: auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

a:visited {
  text-decoration: none;
  color: #000;
}

footer {
  background-color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  padding: 2rem;
}

footer img {
  width: 6rem;
  padding-bottom: 1rem;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

footer ul li:nth-child(-n+2) {
  font-weight: bold;
}

#cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.card {
  margin: auto;
  width: 90%;
  height: 15rem;
  background-color: #FFF;
  border-radius: 1rem;
  position: relative;
}

.card img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 70%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.card ul {
  padding: 1rem;
}

.card li:nth-child(1) {
  font-weight: bold;
}

.card i::after {
  font-size: 1.5rem;
  position: relative;
  bottom: 20%;
  left: 85%;
  cursor: pointer;
  font-family: "Font Awesome 5 Free";
  font-weight: 500;
  font-style: normal;
  content: "\f004";
}

.card i:hover::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 1000;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
}

.cardNew {
  background-color: #99E2D0;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate3d(-12px, 12px, 0);
          transform: translate3d(-12px, 12px, 0);
  font-weight: bolder;
  font-size: clamp(1rem, 2.5vm, 2rem);
  color: #278870;
  border-radius: .2rem;
}

h1 {
  font-family: 'Shrikhand', cursive;
  font-size: clamp(20px, 5vw, 50px);
}

h2 {
  font-weight: bolder;
  font-size: clamp(20px, 5vw, 50px);
}

[aria-hidden="true"] {
  visibility: hidden;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h6 {
  font-family: 'Shrikhand', cursive;
}

html {
  max-width: 768px;
  margin: auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

header a i {
  font-size: x-large;
  padding-left: 1rem;
}

header img {
  height: 60%;
  margin: auto;
  padding-right: 1rem;
}

nav {
  height: 20%;
  overflow: hidden;
}

nav div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #eaeaea;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(85%, #eaeaea), to(#c9c4c4));
  background: linear-gradient(0deg, #eaeaea 85%, #c9c4c4 100%);
  height: 3rem;
  gap: 1rem;
}

nav div:nth-child(1) i, nav div:nth-child(1) span {
  margin-top: auto;
  margin-bottom: auto;
}

nav div:nth-child(2) {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  padding: 3rem;
  text-align: center;
}

nav .btn {
  background: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  border-radius: 2rem;
  color: #fff;
  padding: 1rem;
  margin: auto;
  -webkit-box-shadow: 5px 5px 10px -5px rgba(0, 0, 0, 0.67);
          box-shadow: 5px 5px 10px -5px rgba(0, 0, 0, 0.67);
}

nav img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

main {
  padding-top: 2rem;
}

#main--menu {
  padding: 0;
  margin-top: -3rem;
  z-index: 3;
  position: relative;
}

#howto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  padding-left: 1rem;
  padding-bottom: 3rem;
}

#howto-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

.howto-btn_frame {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  background-color: #f6f6f6;
  font-weight: 1000;
  height: 4rem;
  width: 90%;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  position: relative;
}

.howto-btn_frame span:nth-child(1) {
  color: white;
  font-weight: 500;
  height: 24px;
  width: 24px;
  background: #9356DC;
  border-radius: 50%;
  position: absolute;
  left: 0;
  -webkit-transform: translateX(-12px);
          transform: translateX(-12px);
  padding: 3px;
  text-align: center;
}

.howto-btn_frame i {
  color: #7e7e7e;
  -webkit-transform: translateX(2rem);
          transform: translateX(2rem);
  position: absolute;
  left: 0;
  height: 1rem;
  width: 1rem;
  text-align: center;
}

.howto-btn_frame span {
  -webkit-transform: translateX(4rem);
          transform: translateX(4rem);
  position: absolute;
  left: 0;
}

.howto-btn_frame:hover {
  background-color: #e4d5f6;
}

.howto-btn_frame:hover i {
  color: #9356DC;
}

article {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #f6f6f6;
}

article h2 {
  margin-bottom: 1rem;
  padding-left: 1rem;
  font-weight: 800;
}

#article__rounded {
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}

.article__rounded--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5rem;
}

.article__rounded--title h1 {
  margin-left: 1rem;
}

.article__rounded--title i {
  font-size: clamp(25px, 5vw, 70px);
}

.card--wrap__active {
  visibility: hidden;
}

aside h3 {
  font-weight: 800;
  border-bottom: #99E2D0 solid 3px;
  height: 25px;
  width: 40px;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card--wrap {
  width: 90%;
  margin: auto;
  height: 4rem;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  background: white;
  -webkit-transition: all .3sec;
  transition: all .3sec;
}

.card--wrap span {
  font-weight: 1000;
}

.card--wrap:active .card--wrap__active {
  visibility: visible;
}
/*# sourceMappingURL=style.css.map */