@import "../lib/var.scss";

.cards{
  display: flex;
  flex-direction: column;
  gap:1rem;
  align-items:center;
}

.card{
  margin:auto;
  width: 90%;
  height:15rem;
  background-color:#FFF;
  border-radius: 1rem;
  position:relative;
  img{
    width:100%;
    object-fit: cover;
    height:70%;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
  }
  ul{
    padding:1rem;
  }
  li:nth-child(1){
    font-weight: bold;
  }
  
}
.cardNew{
    background-color: $color-tertiary;
    padding:0.5rem;
    position:absolute;
    top:0;
    right:0;
    transform: translate3d(-12px,12px,0);  
    font-weight: bolder;
    font-size: clamp(16px, 2.5vw, 1rem);
    color:darken($color: $color-tertiary, $amount: 40);
    border-radius: .2rem;
    
  }



  .card--wrap{
    width: 95%;
    height:4rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    background: white;
    animation: cards-load ease-in 1s;
    padding-left:0.5rem;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 18px -11px rgba(0,0,0,0.76);
  
  
  
    p  {
      text-overflow:ellipsis;
      overflow:hidden;
      white-space: nowrap;
     
    }
  
      p:first-child{
       font-weight: 900;
       
      }
      p:nth-child(2){
        font-size: 14px;
        
        
      }
     .card--wrap__content{
       position: relative;
       width: 90%; 
       height: 4rem;
       display: flex;
       flex-direction: column;
       justify-content: center;
       transition: width ease 500ms;
       
      span{
        
        display:inline-block;
        font-weight: 1000;
        position: absolute;
        bottom:10%;
        right:-5%;
        font-size: clamp(13px, 4vw, 1rem);
        
        
      }
     } 
    &:hover{
    
      .card--wrap__content{
        width:calc(100% - 5.5rem);
        
      p  {
        text-overflow:ellipsis;
        overflow:hidden;
        white-space: nowrap;
        width: 90%;
      }
      
      }
      .card--wrap__active{
        width:4rem;
        opacity:1;
        i{
          
          animation-name: rotate-icon;
          animation-duration: 700ms;
          animation-fill-mode:forwards;
        }
      }
      
    }
  }

  
.card--wrap__active{
  // COCHE
  // COCHE
  // COCHE
  
  height: 100%;
  width:0px;
  background-color: $color-tertiary;
  display:flex;
  align-items: center;
  justify-content: center;
  color:white;
  position:absolute;
  right:0;
  border-top-right-radius: 1rem ;
  border-bottom-right-radius: 1rem ;
  font-size: 1.5rem;
  transition: width ease 700ms;
  i{
    opacity:1;
    
  }
}