footer{
    background-color: $color-darkgrey;
    display: flex;
    flex-direction: column;
    color:#fff;
    padding:2rem;  
    
      img {
        width: 6rem;
        padding-bottom:1rem;
      }
    ul{
          display:flex;
          flex-direction: column;
          gap:0.5rem;
        a{
          color:white
        }
          li:nth-child(-n+2){
            font-weight: bold;
          }
      }
    }